@font-face {
  font-family: Futura;
  src: url(./Futura-Bold.ttf);
}
@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background-color: black;
}

html, body{
    height: 100%;
    width: 100%;
    background: #f7f7f7;
}

#nav{
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#nav #nav-part1{
  height: 82px;
  overflow: hidden;
}
#nav-part1 svg{
  display: block;
}
#nav #nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#links{
  padding: 10px;
}
#nav-part2 #links a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px;
}
#icons{
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}
#nav-part2 #icons i{
  margin: 0 20px;
  font-size: 18px;
  font-weight: 100;
}

#cursor{
  height: 150px;
  width: 150px;
  background-color: #f5dfcf;
  border-radius: 50%;
  position: fixed;
  /* transform: scale(0); */
  transform: translate(-50%,-50%) scale(0);
}

/* page 1 */

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    padding-top: 30vh;
}

#page1 h1{
    font-family: 'Futura';
    font-size: 15vw;
    padding-left: 1.3vw;
    line-height: 13vw;
    letter-spacing: -8px;
}

#page1 h1 span{
    font-family: 'Futura';
    padding-left: 12.5vw;
}

#video-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1.5vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-family: 'Futura';
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

/* page 2 */

.border {
    border-bottom: 1.8px solid #000;
    font-size: 15px;
    font-family: 'Gilroy';
    padding-top: 20px;
    margin: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#page2{
    min-height: 115vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1.5vw;
}

#page2 .elem{
    height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem .details {
    height: 60px;
    width: 70%;
    border-radius: 30px;
    position: absolute;
    background: #e5f0d6;
    z-index: 9;
    transition: ease-in-out all 0.5s;
    padding: 20px;
    font-family: 'Futura';
    cursor: pointer;
    font-size: 14px;
  }
  .details-2-color {
    background: #f5dfcf !important;
  }
  .details-3-color {
    background: #ffffff !important;
  }
  
  .elem .details .inner-dets {
    display: none !important;
    /* transition: all ease-in-out all 1s; */
  }
  
  .inner-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-family: 'Gilroy';
  }
  
  .dets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
  }
  
  .inner-details div figure img {
    height: auto;
    width: 100px;
    object-fit: cover;
  }
  .inner-details-2 div figure img{
    padding-top: 20px; 
  }
  .inner-details-2 div blockquote h4{
    padding-top: 15px;
  }
  .inner-details-3 div figure img{
    padding-top: 20px; 
  }
  
  .elem .details:hover {
    height: 250px;
    align-items: center;
    text-align: center;
    transition: ease-in-out all 0.3s;
  }
  
  .elem .details:hover .inner-dets {
    display: block !important;
  }

/* page 3 */

#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 1vw;
}

.page3-text1 {
  width: 52%;
  font-family: 'Futura';
  font-size: 3vw;
  line-height: 4.3vw;
  letter-spacing: -2px;
}

.page3-text2 {
  width: 31%;
  padding-right: 60px;
  font-family: 'Gilroy';
  font-size: 1.2vw;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.line {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: ease-in-out all 0.3s;
  font-size: 1.2vw;
  font-family: 'Futura';
}

.line:hover {
  border-bottom: 2px solid #000;
}

/* page 4 */

#page4{
  min-height: 300vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child{
  height: 100vh;
  width: 45vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.child img{
  height: auto;
  width: 90%;
  cursor: pointer;
  z-index: 2;
}
.child p{
  font-family: 'Gilroy';
  font-size: 13px;
  padding: 5px 0;
  cursor: pointer;
}
#child1 img{
  margin-bottom: 120px;
}
#child4 img{
  margin-bottom: 80px;
}
#child6 img{
  margin-bottom: 25px;
}

/* page 5 */

#page5 .page5-text {
  font-size: 5rem;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  font-family: 'Futura';
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: -2px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.page5-text2 {
  font-family: 'Gilroy';
  font-weight: 200;
  font-size: 1rem !important;
  letter-spacing: 0px;
  width: 50%;
  line-height: 1.2rem;
}
.page5-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 0.8rem;
  font-weight: 200;
  font-family: 'Futura';
  line-height: 1.5rem;
  text-transform: uppercase;
  background-color: #000;
  color: #f7f7f7;
  cursor: pointer;
  padding: 1rem 4rem;
  margin-top: 50px;
  border-radius: 50px;
  transition: ease-in-out all 0.3s;
}
.page5-Button:hover {
  background-color: #f7f7f7;
  color: #000;
}

/* page 6 */

#page6 {
  margin-top: 23rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  /* padding: 2rem; */
  width: 100%;
  gap: 2rem;
}

.page6-Heading {
  font-family: 'Futura';
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

.page6-text {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.8rem;
  word-wrap: break-word;
}
.page6-img-1 {
  width: 33%;
  height: 100%;
  /* width: 30rem; */
  overflow: hidden;
}
.page6-img-1 img {
  width: 27rem;
  object-fit: cover;
  scale: 1.1;
}
.page6-img-2 img {
  width: 27rem;
  object-fit: cover;
  scale: 1.1;
}
.page6-img-2 {
  width: 33%;
  overflow: hidden;
}

/* page 7 */

#page7{
  min-height: 60px;
}
.line2{
  border-bottom: 1px solid #434343;
  padding-top: 25px;
  margin: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Futura';
  font-weight: 800;
  font-size: 1.2rem;
}
.line2 i{
  cursor: pointer;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  gap: 2rem;
}

footer div p {
  font-size: 0.9rem;
  margin: 1rem 0;
  color: #3f3f3f;
}

footer div ul {
  list-style: none;
  display: flex;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin: 1rem 0;
  font-family: 'Futura';
  flex-direction: column;
  cursor: pointer;
}
footer div .part-2 li{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer div img {
  width: 20rem;
}

#extended-footer .rights{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 2rem;
}
#extended-footer .rights p{
  font-size: 13px;
  color: #676767;
}
#extended-footer .rights span p{
  cursor: pointer;
}

.footer-text{
  min-height: 25vh;
  text-align: center;
  padding: 0 17rem;
  font-size: 13.7px;
  line-height: 17px;
  margin: 55px 0px;
}