*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 3vw;
    padding-top: 30vh;
}

#page1 h1{
    font-family: futura;
    font-size: 15.3vw;
    line-height: 13vw;
    /* padding-left: 30px; */
    letter-spacing: -8px;
}

#page1 h1 span{
    font-family: futura;
    padding-left: 12.2vw;
}