*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background-color: black;
}

html, body{
    height: 100%;
    width: 100%;
    background: #f7f7f7;
}

/* page 1 */

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    padding-top: 30vh;
}

#page1 h1{
    font-family: futura;
    font-size: 15.4vw;
    padding-left: 1.3vw;
    line-height: 13vw;
    letter-spacing: -8px;
}

#page1 h1 span{
    font-family: futura;
    padding-left: 12.2vw;
}

#video-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1.5vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

/* page 2 */

.border {
    border-bottom: 1.8px solid #000;
    font-size: 14px;
    font-family: gilroy;
    padding-top: 20px;
    margin: 1rem 1.5rem;
  }

.border span{
    position: absolute;
    z-index: 9;
    left: 94%;
}

#page2{
    height: 115vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1.5vw;
}

#page2 .elem{
    height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem .details {
    height: 60px;
    width: 70%;
    border-radius: 30px;
    position: absolute;
    background: #e5f0d6;
    z-index: 9;
    transition: ease-in-out all 0.5s;
    padding: 20px;
    font-family: futura;
    cursor: pointer;
    font-size: 14px;
  }
  .details-2-color {
    background: #f5dfcf !important;
  }
  .details-3-color {
    background: #ffffff !important;
  }
  
  .elem .details .inner-dets {
    display: none !important;
    /* transition: all ease-in-out all 1s; */
  }
  
  .inner-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font: gilroy;
  }
  
  .dets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
  }
  
  .inner-details div figure img {
    height: auto;
    width: 100px;
    object-fit: cover;
  }
  .inner-details-2 div figure img{
    padding-top: 20px; 
  }
  .inner-details-2 div blockquote h4{
    padding-top: 15px;
  }
  .inner-details-3 div figure img{
    padding-top: 20px; 
  }
  
  .elem .details:hover {
    height: 250px;
    align-items: center;
    text-align: center;
    transition: ease-in-out all 0.3s;
  }
  
  .elem .details:hover .inner-dets {
    display: block !important;
  }

/* page 3 */

#page3{
    height: 100vh;
    width: 100%;
}